@font-face { 
font-family: "iconfont";
src: url("./fonts/iconfont.eot");
src: url("./fonts/iconfont.eot?#iefix") format("embedded-opentype"),
url("./fonts/iconfont.woff") format("woff"),
url("./fonts/iconfont.ttf") format("truetype"),
url("./fonts/iconfont.svg#iconfont") format("svg");}
%icon-font{font-family:"iconfont";font-size:16px;font-style:normal;font-weight: normal;font-variant: normal;text-transform: none;line-height: 1;font-size: 16px;position: relative;vertical-align:-2px;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
%i-search{
	&:before{
		content:"\f10b";
	}
}
%i-lu{
	&:before{
		content:"\f10c";
	}
}
%i-empty{
	&:before{
		content:"\f10d";
	}
}
%i-career{
	&:before{
		content:"\f10e";
	}
}
%i-feeder{
	&:before{
		content:"\f139";
	}
}
%i-language{
	&:before{
		content:"\f13a";
	}
}
%i-pen{
	&:before{
		content:"\f13b";
	}
}
%i-computor{
	&:before{
		content:"\f13c";
	}
}
%i-warn{
	&:before{
		content:"\f13d";
	}
}
%i-tel-border{
	&:before{
		content:"\f13e";
	}
}
%i-group-border{
	&:before{
		content:"\f13f";
	}
}
%i-heart-border{
	&:before{
		content:"\f140";
	}
}
%i-center{
	&:before{
		content:"\f141";
	}
}
%i-alert-border{
	&:before{
		content:"\f142";
	}
}
%i-arrow-up{
	&:before{
		content:"\f143";
	}
}
%i-arrow-down{
	&:before{
		content:"\f144";
	}
}
%i-course-record-border{
	&:before{
		content:"\f145";
	}
}
%i-class{
	&:before{
		content:"\f146";
	}
}
%i-management{
	&:before{
		content:"\f147";
	}
}
%i-remind{
	&:before{
		content:"\f148";
	}
}
%i-c-remind{
	&:before{
		content:"\f149";
	}
}
%i-cancel-remind{
	&:before{
		content:"\f14a";
	}
}
%i-user-edit{
	&:before{
		content:"\f14b";
	}
}
%i-map{
	&:before{
		content:"\f14c";
	}
}
%i-pay-kedian{
	&:before{
		content:"\f14d";
	}
}
%i-cap{
	&:before{
		content:"\f14e";
	}
}
%i-career2{
	&:before{
		content:"\f14f";
	}
}
%i-computor2{
	&:before{
		content:"\f150";
	}
}
%i-pen2{
	&:before{
		content:"\f151";
	}
}
%i-tea{
	&:before{
		content:"\f152";
	}
}
%i-profe-cert{
	&:before{
		content:"\f153";
	}
}
%i-teacher-cert{
	&:before{
		content:"\f154";
	}
}
%i-auth-cert{
	&:before{
		content:"\f155";
	}
}
%i-edu-cert{
	&:before{
		content:"\f156";
	}
}
%i-qq-border2{
	&:before{
		content:"\f157";
	}
}
%i-edit2{
	&:before{
		content:"\f158";
	}
}
%i-boxiaole{
	&:before{
		content:"\f159";
	}
}
%i-liepinwang{
	&:before{
		content:"\f15a";
	}
}
%i-switch-class{
	&:before{
		content:"\f15b";
	}
}
%i-emoticon{
	&:before{
		content:"\f15c";
	}
}
%i-keyboard{
	&:before{
		content:"\f15d";
	}
}
%i-picture{
	&:before{
		content:"\f15e";
	}
}
%i-news{
	&:before{
		content:"\f15f";
	}
}
%i-interest{
	&:before{
		content:"\f160";
	}
}
%i-consultation{
	&:before{
		content:"\f161";
	}
}
%i-home2{
	&:before{
		content:"\f162";
	}
}
%i-plan{
	&:before{
		content:"\f163";
	}
}
%i-coupon{
	&:before{
		content:"\f164";
	}
}
%i-comment-star{
	&:before{
		content:"\f165";
	}
}
%i-flower-bad{
	&:before{
		content:"\f166";
	}
}
%i-flower-good{
	&:before{
		content:"\f167";
	}
}
%i-flower-medium{
	&:before{
		content:"\f168";
	}
}
%i-picture2{
	&:before{
		content:"\f169";
	}
}
%i-feedback{
	&:before{
		content:"\f16a";
	}
}
%i-camera{
	&:before{
		content:"\f16b";
	}
}
%i-progress-now{
	&:before{
		content:"\f16c";
	}
}
%i-home3{
	&:before{
		content:"\f182";
	}
}
%i-forum2{
	&:before{
		content:"\f183";
	}
}
%i-plan2{
	&:before{
		content:"\f184";
	}
}
%i-center2{
	&:before{
		content:"\f185";
	}
}
%i-pause{
	&:before{
		content:"\f186";
	}
}
%i-scot{
	&:before{
		content:"\f187";
	}
}
%i-right-light{
	&:before{
		content:"\f188";
	}
}
%i-logo2{
	&:before{
		content:"\f1fd";
	}
}
%i-close2{
	&:before{
		content:"\f1fe";
	}
}
%i-list2{
	&:before{
		content:"\f1ff";
	}
}
%i-v-right2{
	&:before{
		content:"\f200";
	}
}
%i-m-listen{
	&:before{
		content:"\f224";
	}
}
%i-m-read{
	&:before{
		content:"\f225";
	}
}
%i-m-speak{
	&:before{
		content:"\f226";
	}
}
%i-m-write{
	&:before{
		content:"\f227";
	}
}
%i-clock{
	&:before{
		content:"\f22c";
	}
}
%i-vote{
	&:before{
		content:"\f22d";
	}
}
%i-fav-active{
	&:before{
		content:"\f24c";
	}
}